<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongrui.survey.core.repository.PhotoRepository">
  <resultMap id="BaseResultMap" type="com.hongrui.survey.core.entity.Photo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="task_id" jdbcType="BIGINT" property="taskId" />
    <result column="photo_type" jdbcType="BIGINT" property="photoType" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="content_type" jdbcType="VARCHAR" property="contentType" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, task_id, photo_type, path, create_time, content_type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from photo
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from photo
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hongrui.survey.core.entity.Photo">
    insert into photo (id, name, task_id, 
      photo_type, path, create_time, 
      content_type)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{taskId,jdbcType=BIGINT}, 
      #{photoType,jdbcType=BIGINT}, #{path,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{contentType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hongrui.survey.core.entity.Photo">
    insert into photo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="taskId != null">
        task_id,
      </if>
      <if test="photoType != null">
        photo_type,
      </if>
      <if test="path != null">
        path,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="contentType != null">
        content_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="taskId != null">
        #{taskId,jdbcType=BIGINT},
      </if>
      <if test="photoType != null">
        #{photoType,jdbcType=BIGINT},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="contentType != null">
        #{contentType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hongrui.survey.core.entity.Photo">
    update photo
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="taskId != null">
        task_id = #{taskId,jdbcType=BIGINT},
      </if>
      <if test="photoType != null">
        photo_type = #{photoType,jdbcType=BIGINT},
      </if>
      <if test="path != null">
        path = #{path,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="contentType != null">
        content_type = #{contentType,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hongrui.survey.core.entity.Photo">
    update photo
    set name = #{name,jdbcType=VARCHAR},
      task_id = #{taskId,jdbcType=BIGINT},
      photo_type = #{photoType,jdbcType=BIGINT},
      path = #{path,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      content_type = #{contentType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectCount" parameterType="com.hongrui.survey.core.entity.Photo" resultType="java.lang.Integer">
    select count(*) from photo
    <where>
      <if test="id != null">
        and id = #{id,jdbcType=BIGINT}
      </if>
      <if test="name != null">
        and name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="taskId != null">
        and task_id = #{taskId,jdbcType=BIGINT}
      </if>
      <if test="photoType != null">
        and photo_type = #{photoType,jdbcType=BIGINT}
      </if>
      <if test="path != null">
        and path = #{path,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null">
        and create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="contentType != null">
        and content_type = #{contentType,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  <select id="selectPage" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from photo where 1 = 1 
    <if test="param1.id != null">
      and id = #{param1.id,jdbcType=BIGINT}
    </if>
    <if test="param1.name != null">
      and name = #{param1.name,jdbcType=VARCHAR}
    </if>
    <if test="param1.taskId != null">
      and task_id = #{param1.taskId,jdbcType=BIGINT}
    </if>
    <if test="param1.photoType != null">
      and photo_type = #{param1.photoType,jdbcType=BIGINT}
    </if>
    <if test="param1.path != null">
      and path = #{param1.path,jdbcType=VARCHAR}
    </if>
    <if test="param1.createTime != null">
      and create_time = #{param1.createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="param1.contentType != null">
      and content_type = #{param1.contentType,jdbcType=VARCHAR}
    </if>
    <if test="param2.sort != null">
      order by 
      <foreach collection="param2.sort" item="order" separator=",">
        ${order.property} ${order.direction}
      </foreach>
    </if>
    <if test="param2.offset >= 0 and param2.pageSize > 0">
      limit ${param2.offset}, ${param2.pageSize}
    </if>
  </select>
</mapper>