<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongrui.survey.core.repository.TaskRepository">
  <resultMap id="BaseResultMap" type="com.hongrui.survey.core.entity.Task">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="surveyor_id" jdbcType="BIGINT" property="surveyorId" />
    <result column="customer_id" jdbcType="BIGINT" property="customerId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="check_time" jdbcType="TIMESTAMP" property="checkTime" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="point" jdbcType="VARCHAR" property="point" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, surveyor_id, customer_id, create_time, check_time, comment, point, type, status, 
    start_time, end_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from task
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from task
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hongrui.survey.core.entity.Task">
    insert into task (id, surveyor_id, customer_id, 
      create_time, check_time, comment, 
      point, type, status, 
      start_time, end_time)
    values (#{id,jdbcType=BIGINT}, #{surveyorId,jdbcType=BIGINT}, #{customerId,jdbcType=BIGINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{checkTime,jdbcType=TIMESTAMP}, #{comment,jdbcType=VARCHAR}, 
      #{point,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hongrui.survey.core.entity.Task">
    insert into task
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="surveyorId != null">
        surveyor_id,
      </if>
      <if test="customerId != null">
        customer_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="checkTime != null">
        check_time,
      </if>
      <if test="comment != null">
        comment,
      </if>
      <if test="point != null">
        point,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="surveyorId != null">
        #{surveyorId,jdbcType=BIGINT},
      </if>
      <if test="customerId != null">
        #{customerId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkTime != null">
        #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="point != null">
        #{point,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hongrui.survey.core.entity.Task">
    update task
    <set>
      <if test="surveyorId != null">
        surveyor_id = #{surveyorId,jdbcType=BIGINT},
      </if>
      <if test="customerId != null">
        customer_id = #{customerId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkTime != null">
        check_time = #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="point != null">
        point = #{point,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hongrui.survey.core.entity.Task">
    update task
    set surveyor_id = #{surveyorId,jdbcType=BIGINT},
      customer_id = #{customerId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      check_time = #{checkTime,jdbcType=TIMESTAMP},
      comment = #{comment,jdbcType=VARCHAR},
      point = #{point,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectCount" parameterType="com.hongrui.survey.core.entity.Task" resultType="java.lang.Integer">
    select count(*) from task
    <where>
      <if test="id != null">
        and id = #{id,jdbcType=BIGINT}
      </if>
      <if test="surveyorId != null">
        and surveyor_id = #{surveyorId,jdbcType=BIGINT}
      </if>
      <if test="customerId != null">
        and customer_id = #{customerId,jdbcType=BIGINT}
      </if>
      <if test="createTime != null">
        and create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="checkTime != null">
        and check_time = #{checkTime,jdbcType=TIMESTAMP}
      </if>
      <if test="comment != null">
        and comment = #{comment,jdbcType=VARCHAR}
      </if>
      <if test="point != null">
        and point = #{point,jdbcType=VARCHAR}
      </if>
      <if test="type != null">
        and type = #{type,jdbcType=VARCHAR}
      </if>
      <if test="status != null">
        and status = #{status,jdbcType=INTEGER}
      </if>
      <if test="startTime != null">
        and start_time = #{startTime,jdbcType=TIMESTAMP}
      </if>
      <if test="endTime != null">
        and end_time = #{endTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
  <select id="selectPage" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from task where 1 = 1 
    <if test="param1.id != null">
      and id = #{param1.id,jdbcType=BIGINT}
    </if>
    <if test="param1.surveyorId != null">
      and surveyor_id = #{param1.surveyorId,jdbcType=BIGINT}
    </if>
    <if test="param1.customerId != null">
      and customer_id = #{param1.customerId,jdbcType=BIGINT}
    </if>
    <if test="param1.createTime != null">
      and create_time = #{param1.createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="param1.checkTime != null">
      and check_time = #{param1.checkTime,jdbcType=TIMESTAMP}
    </if>
    <if test="param1.comment != null">
      and comment = #{param1.comment,jdbcType=VARCHAR}
    </if>
    <if test="param1.point != null">
      and point = #{param1.point,jdbcType=VARCHAR}
    </if>
    <if test="param1.type != null">
      and type = #{param1.type,jdbcType=VARCHAR}
    </if>
    <if test="param1.status != null">
      and status = #{param1.status,jdbcType=INTEGER}
    </if>
    <if test="param1.startTime != null">
      and start_time = #{param1.startTime,jdbcType=TIMESTAMP}
    </if>
    <if test="param1.endTime != null">
      and end_time = #{param1.endTime,jdbcType=TIMESTAMP}
    </if>
    <if test="param2.sort != null">
      order by 
      <foreach collection="param2.sort" item="order" separator=",">
        ${order.property} ${order.direction}
      </foreach>
    </if>
    <if test="param2.offset >= 0 and param2.pageSize > 0">
      limit ${param2.offset}, ${param2.pageSize}
    </if>
  </select>
</mapper>